<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Cvičný test z předmětu4IZ210</title>
    <link phx-track-static rel="icon" href={Routes.static_path(@conn, "/images/favicon.png")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="container">
      <h1>Cvičný test 4IZ210</h1><br>
      <h2>Zpracování informací a znalostí</h2><br>

      <a href=".">Vygenerovat nové zadání</a>
    </header>
    <%= @inner_content %>
  </body>
</html>