<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Cvičný test z předmětu4IZ210</title>
    <link phx-track-static rel="icon" href={Routes.static_path(@conn, "/images/favicon.png")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <header class="container my-5 d-flex flex-column flex-lg-row align-items-start justify-content-between">
      <div class="d-flex flex-column">
        <h1>Cvičný test 4IZ210</h1>
        <h2>Zpracování informací a znalostí</h2>
      </div>

      <a href="." class="btn btn-primary btn-lg">Vygenerovat nové zadání</a>
    </header>
    <hr>
    <%= @inner_content %>
  </body>
</html>